h1 {
    text-align: center;
}

nav {
    display: flex;
    align-items: stretch;
    gap: 2rem;
}

nav .category {
    flex: 25% 0 0;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px #11111b;
    background-color: var(--color-card);
}

nav h2 {
    margin-top: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
}

nav li {
    font-weight: bold;
    opacity: 0.9;
}

nav a {
}
